body {
	font-family: arial;
	text-align: center;

}
span {
	font-size: 170%;
	font-weight: bold;
}
input, textarea,select {
	width: 400px;
	display: block;
	border-radius: 7px;
	border: 1px solid;
	background-color: #fff;
	padding: 8px;
	font-size: 110%;
	font-family: arial;
	margin: 7px auto 7px auto;
}
select{
	width:300px;
}
button {
	width: auto;
	display: block;
	padding: 8px 16px;
	border-radius: 7px;
	border: 1px solid;
	cursor: pointer;
	font-size: 110%;
	margin: 7px auto 7px auto;
}
button:hover {
	background-color: #ccc;	
}
form {
	margin-top: 10%;
}
th, td {
	border-style: solid;
    	border-collapse: collapse;
	height:50%;
	padding:10px;
	text-align:center;
}
table {
	border-collapse: collapse;
	margin: auto;
	width: 80%;
	border: 0px solid;
}
#heading {
	background-color: rgba(191, 237, 255, 1);
}
p {
	display: inline-block;
	font-size: 110%;
}